<!doctype html>
<html>

<head>
  <title>SENTIMENT ANALYSIS:</title>
  <style>
    h1 {
      color: black;
      font-family: Gerdana;
      font-size: 300%;
	  text-align: center;
    }

    .enter-review {
      padding: 10rem 10rem;
    }

    .review {
      width: 60%;
      padding-left: 5px;
    }

    .button {
      margin-left: 4px;
    }

    h4 {
      border: 1px solid black;
    }

    body {
      background-image: url('gni.jpg');
	  background-repeat:no-repeat;
	  background-size: cover;
    }
  </style>
</head>

<body background>
  <div>
    <h1>SENTIMENTAL ANALYSIS TOOL:</h1>
  </div>

  <div class="enter-review">
    <form class="" action="index.html" method="post">
      <label for="review"><b>ENTER YOUR REVIEWS:</b> </label>
      <input type="text" name="review" placeholder="Enter your text here" maxlength="100" id="review" class="review">
      <button type="submit" name="button" class="button">Submit</button>
    </form>

  </div>

</body>

</html>
