<!doctype html>
<html>

<head>
  <title>SENTIMENT ANALYSIS:</title>
  <style>
    h1 {
      color: yellow;
      font-family: times new roman;
      font-size: 400%;
    }

    .enter-review {
      padding: 10rem 10rem;
    }

    .review {
      width: 60%;
      padding-left: 5px;
    }

    .button {
      margin-left: 4px;
    }

    h4 {
      border: 1px solid black;
    }

    body {
      background-image: url('https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    }
  </style>
</head>

<body background>
  <div>
    <h1>SENTIMENTAL ANALYSIS TOOL:</h1>
  </div>

  <div class="enter-review">
    <form class="" action="index.html" method="post">
      <label for="review">ENTER YOUR REVIEWS: </label>
      <input type="text" name="review" placeholder="Enter your text here" maxlength="100" id="review" class="review">
      <button type="submit" name="button" class="button">Submit</button>
    </form>

  </div>

</body>

</html>